/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* END OF RESET TEMPLATE */

body {
  color: #87bdd8;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 4rem;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.59);
}

p {
  text-align: center;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

button {
  padding: 0.5em 3em;
  background: #87bdd8;
  color: white;
  border: none;
  border-radius: 50px;
}

button:hover {
  cursor: grab;
  background: #87bdc8;

}

.container {
  margin: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.bar-container {
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  border: solid #87bdd8 2px;
  box-shadow: 0 0 20px #aaaaaa;
}

#range-value {
  text-align: center;
}

.row {
  display: flex;
  flex: 1;
}

.box {
  flex: 1;
  opacity: 0;
}

.fill {
  background: black;
}

.clear {
  background: "";
}

input {
  accent-color: silver;
}

.gochi-hand-heavy {
  font-family: "Gochi Hand", cursive, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}